.container.ecommerce, .ecommerce--grid, .container.cart, .cart--grid {
    margin-top: 50px;
}

.ecommerce--grid--product, .cart--grid--row {
    margin-bottom: 25px;
}

.product-image {
   height: 218px;
   width: 268px;
   max-height: 218px;
   max-width: 268px;
}
.ecommerce--grid--product{
    margin: 10px;
    border: 1px solid rgb(255, 82, 142);
    padding: 10px;
    border-radius: 8px;
}

.ecommerce--grid--product--name {
    margin-top: 8px;
}